[user]
	name = aekym
  email = me@aekym.com
[alias]
	ci = commit
	co = checkout
	st = status
	cp = cherry-pick
	wtf = !git-wtf
	stash-list = "!git stash list | while read line; do   ref=${line%%:*};   prefix=$(test $(git diff $ref | wc -l) = \"0\" && echo \"✔  \" || echo \"   \");   echo \"$prefix$line\"; done"
[core]
	editor=vim
[pack]
	threads = 0
[apply]
	whitespace = nowarn
[push]
	default = tracking
[github]
	user = aekym
[branch]
	autosetuprebase = always
[color]
	ui = auto
[merge]
	tool = gvimdiff
