[user]
	name = aekym
  email = me@aekym.com
[alias]
	ci = commit
	co = checkout
	st = status
	cp = cherry-pick
	wtf = !git-wtf
[core]
	editor=vim
[pack]
	threads = 0
[apply]
	whitespace = nowarn
[push]
	default = tracking
[github]
	user = aekym
[branch]
	autosetuprebase = always
[color]
	ui = always
